<div class="container">
    <div class="row">
        <div class="col-12 col-md-3 mb-5">
            <ul class="list-group">
                <li class="list-group-item nav-item"> <a [routerLink]="['products/create']"
                        routerLinkActive="active-link" [routerLinkActiveOptions]='{exact:true}' class="nav-link">Create
                        Product</a></li>
                <li class="list-group-item nav-item"> <a [routerLink]="['products/view']" routerLinkActive="active-link"
                        [routerLinkActiveOptions]='{exact:true}' class="nav-link">View Product</a></li>
            </ul>
        </div>
        <div class="col-12 col-md-9">
            <div class="card px-4 py-4">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>